<footer class="site-footer custom-border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h3 class="footer-heading mb-4">Brand</h3>
        <div class="logo">
          <div class="site-logo">
            <a routerLink="" class="js-logo-clone">ShopDBMS</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Quick Links</h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a routerLink=".">Sell online</a></li>
              <li><a routerLink=".">Features</a></li>
              <li><a routerLink=".">Shopping cart</a></li>
              <li><a routerLink=".">Store builder</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a routerLink=".">Mobile commerce</a></li>
              <li><a routerLink=".">Dropshipping</a></li>
              <li><a routerLink=".">Website development</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a routerLink=".">Point of sale</a></li>
              <li><a routerLink=".">Hardware</a></li>
              <li><a routerLink=".">Software</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <li class="address">
              100 Fake St. Mountain View, San Francisco, California, USA
            </li>
            <li class="phone">
              <a routerLink=".">+2 392 3929 211</a>
            </li>
            <li class="email">emailaddress@domain.com</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
