<div class="table">
  <h3 class="table__heading">Posts</h3>

  <mat-form-field>
    <input matInput placeholder="Search products" #input />
  </mat-form-field>

  <button [routerLink]="['add']" class="btn-add" mat-flat-button>
    Add
    <mat-icon>add</mat-icon>
  </button>

  <mat-table
    class="products-table mat-elevation-z8"
    [dataSource]="dataSource"
    matSort
    matSortDirection="asc"
    matSortDisableClear
  >
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let products">{{ products.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let products">
        {{ products.title }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let products">
        <img src="https://localhost:5001/images/{{ products.image }}" alt="" />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Visibility">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Visibility</mat-header-cell
      >
      <mat-cell class="duration-cell" *matCellDef="let products">
        <mat-icon class="active" *ngIf="products.visibility">
          check_circle
        </mat-icon>
        <mat-icon *ngIf="!products.visibility">
          check_circle
        </mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="CreatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Created At
      </mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let products">
        {{ products.createdAt }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="UpdatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Updated At
      </mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let products">
        {{ products.updatedAt }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Action">
      <mat-header-cell
        *matHeaderCellDef
        style="display:flex; justify-content:center;"
        >Action</mat-header-cell
      >
      <mat-cell
        class="duration-cell"
        *matCellDef="let products"
        style="display:flex; justify-content:center;"
      >
        <button
          [routerLink]="['edit', products.id]"
          class="btn btn-edit"
          mat-flat-button
          title="Edit"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          class="btn btn-delete"
          mat-flat-button
          title="Delete"
          (click)="onDelete(products.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
      >
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="postCount"
    [pageSize]="3"
    [pageSizeOptions]="[3, 6, 9]"
  ></mat-paginator>
</div>
